apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo-express
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: mongo-express
  template:
    metadata:
      labels:
        app: mongo-express
    spec:
      containers:
        - name: mongo-express
          image: "{{ .Values.mongoExpress.image.registry }}/{{ .Values.mongoExpress.image.repository }}:{{ .Values.mongoExpress.image.tag }}"
          env:
            - name: ME_CONFIG_MONGODB_ADMINUSERNAME
              value: "openframe"
            - name: ME_CONFIG_MONGODB_ADMINPASSWORD
              value: "password123456789"
            - name: ME_CONFIG_MONGODB_URL
              value: "mongodb://openframe:password123456789@mongodb-0.mongodb.datasources.svc.cluster.local:27017/"
          ports:
            - containerPort: 8081
          imagePullPolicy: Always
