apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: tactical-redis
spec:
  serviceName: tactical-redis
  replicas: 1
  selector:
    matchLabels:
      app: tactical-redis
  template:
    metadata:
      labels:
        app: tactical-redis
    spec:
      {{- if ne .Values.registry.docker.password "" }}
      imagePullSecrets:
        - name: docker-pat-secret
      {{- end }}

      containers:
      - name: redis
        image: redis:6.0-alpine
        command: ["redis-server", "--save", "3600", "1", "300", "100", "60", "10000"]
        ports:
        - containerPort: 6379
        volumeMounts:
        - name: redis-data
          mountPath: /data
        livenessProbe:
          exec:
            command:
            - redis-cli
            - ping
          initialDelaySeconds: 30
          periodSeconds: 10

  volumeClaimTemplates:
  - metadata:
      name: redis-data
    spec:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 10Gi
