server:
  port: 8888
spring:
  application:
    name: config-server
  main:
    allow-bean-definition-overriding: true
    allow-circular-references: true
  cloud:
    config:
      server:
        git:
          uri: https://github.com/flamingo-stack/openframe-oss-tenant
          default-label: ${CONFIG_GIT_BRANCH:main}
          # Load base first, then let profile override base
          search-paths: "configs/base,configs/{profile}"
          clone-on-start: true
          username: ${GITHUB_ACTOR:}
          password: ${GITHUB_PASSWORD:}
  mvc:
    problemdetails:
      enabled: true
    contentnegotiation:
      favor-parameter: true
      media-types:
        actuator: application/vnd.spring-boot.actuator.v3+json

# Management server configuration
management:
  server:
    port: 8889
  base-path: /management
  endpoints:
    web:
      base-path: /management/v1
      exposure:
        include: health,info,prometheus,metrics
    enabled-by-default: true
  endpoint:
    prometheus:
      enabled: true
    health:
      enabled: true
      show-details: always
    metrics:
      enabled: true
  metrics:
    enable:
      all: true
  prometheus:
    metrics:
      export:
        enabled: true
  tags:
    application: ${spring.application.name}

logging:
  config: classpath:logging/shared-logback-spring.xml
  level:
    org.springframework.cloud.config.server: DEBUG
    root: INFO
    org.springframework.boot.actuator: DEBUG
    org.springframework.boot.actuate.metrics: DEBUG
    org.springframework.boot.actuate.endpoint: DEBUG
    io.micrometer: DEBUG
    org.springframework.boot.actuate.autoconfigure.metrics: DEBUG
    org.springframework.boot.actuate.metrics.export.prometheus: DEBUG
    org.springframework.cloud.config: INFO
    org.springframework.web: DEBUG
    ch.qos.logback: DEBUG
    com.openframe.config: DEBUG
    org.springframework.cloud.config.server.environment: WARN
    org.eclipse.jgit: ERROR
    org.apache.http: ERROR
  file:
    path: ${LOG_PATH:logs}