apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: tactical-postgres
spec:
  serviceName: tactical-postgres
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: tactical-postgres
  template:
    metadata:
      labels:
        app: tactical-postgres
    spec:
      containers:
      - name: postgres
        image: {{ .Values.postgres.image.registry }}/{{ .Values.postgres.image.repository }}:{{ .Values.postgres.image.tag }}
        args:
          - "-c"
          - "wal_level=logical"
        ports:
        - containerPort: 5432
        env:
        - name: PGDATA
          value: /var/lib/postgresql/data/pgdata
        envFrom:
        - configMapRef:
            name: tactical-postgres
        - secretRef:
            name: tactical-postgres
        livenessProbe:
          exec:
            command:
            - pg_isready
            - -U
            - postgres
          initialDelaySeconds: 30
          periodSeconds: 10
        volumeMounts:
        - name: postgres-data
          mountPath: /var/lib/postgresql/data

  volumeClaimTemplates:
  - metadata:
      name: postgres-data
    spec:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 10Gi
