apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: fleetmdm-redis
spec:
  serviceName: fleetmdm-redis
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: fleetmdm-redis
  template:
    metadata:
      labels:
        app: fleetmdm-redis
    spec:
      securityContext:
        runAsUser: 999
        runAsGroup: 999
        fsGroup: 999
      
      containers:
      - name: redis
        image: {{ .Values.redis.image.registry }}/{{ .Values.redis.image.repository }}:{{ .Values.redis.image.tag }}
        ports:
        - containerPort: 6379
        volumeMounts:
        - name: redis-data
          mountPath: /data
        livenessProbe:
          exec:
            command:
            - redis-cli
            - ping
          initialDelaySeconds: 30
          periodSeconds: 10

  volumeClaimTemplates:
  - metadata:
      name: redis-data
    spec:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 1Gi
