{{- include "chart.validate" . -}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: openframe-frontend
  annotations:
    keel.sh/policy: force
    keel.sh/trigger: poll
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: openframe-frontend
  template:
    metadata:
      labels:
        app: openframe-frontend
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:

      containers:
        - name: openframe-frontend
          image: "{{ .Values.image.repo }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 3000
              name: http
          env:
            - name: NEXT_PUBLIC_AUTH_CHECK_INTERVAL
              value: "30000"
          envFrom:
            - configMapRef:
                name: microservices

          resources:
            {{- toYaml .Values.resources | nindent 10 }}

          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 5
