registerJob:
  enabled: true
  image:
    registry: ghcr.io/flamingo-stack/registry
    tag: "8.9.1"

image:
  registry: ghcr.io/flamingo-stack/registry
  repository: debezium/connect
  tag: "3.3.2"
podAnnotations:
  loki.grafana.com/scrape: "true"
  prometheus.io/scrape: "true"
  prometheus.io/port: "9404"
  prometheus.io/path: "/metrics"

resources:
  requests:
    cpu: 500m
    memory: 1Gi
  limits:
    cpu: 700m
    memory: 2Gi

probes:
  liveness:
    enabled: true
  readiness:
    enabled: true

metrics:
  enabled: true
  port: 9404
  jmx:
    version: "1.5.0"
    image:
      registry: ghcr.io/flamingo-stack/registry
      repository: busybox
      tag: "1.36.0"
