apiVersion: v1
kind: Service
metadata:
  name: mongodb
spec:
  selector:
    app: mongodb
  ports:
    - name: mongodb
      protocol: TCP
      port: 27017
      targetPort: 27017
    {{- if .Values.metrics.enabled }}
    - name: metrics
      protocol: TCP
      port: 9216
      targetPort: 9216
    {{- end }}
  clusterIP: None  # Headless service for StatefulSet
