registerJob:
  enabled: true
  image:
    registry: ghcr.io/flamingo-stack/registry
    tag: "8.9.1"


grafana:
  ingress:
    enabled: false
  
  image:
    registry: ghcr.io/flamingo-stack/registry
    repository: grafana/grafana
    tag: "12.3.0"
  
  testFramework:
    image:
      registry: ghcr.io/flamingo-stack/registry
      repository: bats/bats
      tag: "v1.4.1"
  
  downloadDashboardsImage:
    registry: ghcr.io/flamingo-stack/registry
    repository: curlimages/curl
    tag: 8.9.1
  
  initChownData:
    image:
      registry: ghcr.io/flamingo-stack/registry
      repository: busybox
      tag: "1.31.1"
  
  sidecar:
    image:
      registry: ghcr.io/flamingo-stack/registry
      repository: kiwigrid/k8s-sidecar
      tag: 1.30.10

  revisionHistoryLimit: 2
  resources:
    requests:
      cpu: 200m
      memory: 250Mi
    limits:
      cpu: 400m
      memory: 500Mi

  deploymentStrategy:  # fix bug Multi-Attach Error for Volume
    type: Recreate

  persistence:
    enabled: true
    accessModes:
      - ReadWriteOnce
    size: 5Gi

  admin: # pre applyed 
    existingSecret: "grafana"
    userKey: user         
    passwordKey: password

  grafana.ini:
    auth.anonymous:
      enabled: true
      org_role: Viewer
    auth.basic:
      enabled: true
    auth:
      disable_login_form: false
    security:
      allow_embedding: true
      cookie_samesite: strict

  # podAnnotations:
  #   prometheus.io/scrape: "true"
  #   prometheus.io/port: "3000"
  #   prometheus.io/path: "/metrics"

  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          uid: prometheus
          url: http://prometheus-server.platform.svc.cluster.local:80
          access: proxy
          isDefault: true
        - name: Loki
          type: loki
          uid: loki
          url: http://loki.platform.svc.cluster.local:3100
          access: proxy
          jsonData:
            timeout: 60
            maxLines: 1000

  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: 'home'
          folder: 'home'
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/home
        - name: 'platform'
          folder: 'platform'
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/platform
        - name: 'microservices'
          folder: 'microservices'
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/microservices
        - name: 'datasources'
          folder: 'datasources'
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/datasources
        - name: 'integrated-tools'
          folder: 'integrated-tools'
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/integrated-tools

  extraVolumeMounts:
    - name: home
      mountPath: /var/lib/grafana/dashboards/home
    - name: platform
      mountPath: /var/lib/grafana/dashboards/platform
    - name: microservices
      mountPath: /var/lib/grafana/dashboards/microservices
    - name: datasources
      mountPath: /var/lib/grafana/dashboards/datasources
    - name: integrated-tools
      mountPath: /var/lib/grafana/dashboards/integrated-tools

  extraVolumes:
    - name: home
      configMap:
        name: home
    - name: platform
      configMap:
        name: platform
    - name: microservices
      configMap:
        name: microservices
    - name: datasources
      configMap:
        name: datasources
    - name: integrated-tools
      configMap:
        name: integrated-tools
