registerJob:
  enabled: true
  image:
    registry: ghcr.io/flamingo-stack/registry
    tag: "8.9.1"

image:
  registry: ghcr.io/flamingo-stack/registry
  repository: mongo
  tag: "7.0.18"

persistence:
  size: 5Gi

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

metrics:
  enabled: true
  image:
    registry: ghcr.io/flamingo-stack/registry
    repository: bitnamilegacy/mongodb-exporter
    tag: "0.46.0"
  podAnnotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "9216"
    prometheus.io/path: "/metrics"
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi
