registerJob:
  enabled: true
  image:
    registry: ghcr.io/flamingo-stack/registry
    tag: "8.9.1"


kafka:
  global:
    security:
      allowInsecureImages: true  # bitnamilegacy

  image:
    registry: ghcr.io/flamingo-stack/registry
    repository: bitnamilegacy/kafka
    tag: 4.0.0-debian-12-r10

  existingKraftSecret: "kafka-kraft"


  broker:
    resourcesPreset: medium
    replicaCount: 1
    podAntiAffinityPreset: soft
    priorityClassName: kafka
    podAnnotations:
      loki.grafana.com/scrape: "true"
      prometheus.io/scrape: "true"
      prometheus.io/port: "5556"
      prometheus.io/path: "/metrics"
    resources:
      requests:
        cpu: 500m
        memory: 1Gi
      limits:
        cpu: 1
        memory: 2Gi


  controller:
    resourcesPreset: medium
    replicaCount: 1
    podAntiAffinityPreset: soft
    priorityClassName: kafka
    podAnnotations:
      loki.grafana.com/scrape: "true"
      prometheus.io/scrape: "true"
      prometheus.io/port: "5556"
      prometheus.io/path: "/metrics"
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        cpu: 500m
        memory: 1Gi


  metrics:
    jmx:
      enabled: true
      image:
        registry: ghcr.io/flamingo-stack/registry
        repository: bitnamilegacy/jmx-exporter
        tag: 1.4.0
      service:
        annotations:
          prometheus.io/scrape: "false"
      livenessProbe:
        initialDelaySeconds: 90 
        periodSeconds: 20        
        failureThreshold: 6   
      readinessProbe:
        initialDelaySeconds: 60
        periodSeconds: 15
        failureThreshold: 5
      resources:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          cpu: 100m
          memory: 256Mi
  existingLog4j2ConfigMap: "kafka-log4j2"


  listeners:
    client:
      protocol: PLAINTEXT
    controller:
      protocol: PLAINTEXT
    interbroker:
      protocol: PLAINTEXT
    external:
      protocol: PLAINTEXT


  provisioning:
    enabled: true
    replicationFactor: 1
    topics:
      - name: pinot-events
        partitions: 1
        replicationFactor: 1
      - name: devices-topic
        partitions: 3
        replicationFactor: 1
      - name: integrated-tool.events.pinot
        partitions: 1
        replicationFactor: 1
      - name: fleet.activities.events
        partitions: 1
        replicationFactor: 1
      - name: fleet.host_activities.events
        partitions: 1
        replicationFactor: 1
        ## https://kafka.apache.org/documentation/#topicconfigs
        # config:
        #   max.message.bytes: 64000
        #   flush.messages: 1

      # internal consumer-group state topic so that single-broker dev clusters work
      - name: __consumer_offsets
        partitions: 50        # should match offsets.topic.num.partitions default
        replicationFactor: 1
        config:
          cleanup.policy: compact


  # Set default replication factor to 1
  extraConfig: |
    default.replication.factor=1
    offsets.topic.replication.factor=1
    transaction.state.log.replication.factor=1
    transaction.state.log.min.isr=1
    min.insync.replicas=1
    offsets.topic.auto.create.enable=true
