apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: authentik-redis
spec:
  serviceName: authentik-redis
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: authentik-redis
  template:
    metadata:
      labels:
        app: authentik-redis
    spec:

      containers:
      - name: redis
        image: redis:latest
        ports:
        - containerPort: 6379
        livenessProbe:
          tcpSocket:
            port: 6379
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          tcpSocket:
            port: 6379
          initialDelaySeconds: 5
          periodSeconds: 5
        volumeMounts:
        - name: redis-data
          mountPath: /data
      volumes:
      - name: redis-data
        persistentVolumeClaim:
          claimName: authentik-redis
