apiVersion: apps/v1
kind: Deployment
metadata:
  name: debezium-connect
  labels:
    app: debezium-connect
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: debezium-connect
  template:
    metadata:
      labels:
        app: debezium-connect
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:

      {{- if .Values.metrics.enabled }}
      initContainers:
        - name: jmx-exporter
          image: "{{ .Values.metrics.jmx.image.registry }}/{{ .Values.metrics.jmx.image.repository }}:{{ .Values.metrics.jmx.image.tag }}"
          command: [sh, -c]
          args:
            - |
              VERSION={{ .Values.metrics.jmx.version }}
              wget -O /jmx/jmx_prometheus_javaagent.jar \
                https://github.com/prometheus/jmx_exporter/releases/download/${VERSION}/jmx_prometheus_javaagent-${VERSION}.jar \
              && cp /jmx-config/config.yaml /jmx/config.yaml
          volumeMounts:
            - name: jmx-exporter
              mountPath: /jmx
            - name: jmx-config
              mountPath: /jmx-config
      {{- end }}

      containers:
        - name: debezium-connect
          image: {{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag }}
          ports:
            - containerPort: 8083
              name: connect-api
            {{- if .Values.metrics.enabled }}
            - containerPort: {{ .Values.metrics.port }}
              name: metrics
            {{- end }}
          envFrom:
            - configMapRef:
                name: debezium-connect
          volumeMounts:
            - name: log4j-config
              mountPath: /kafka/config/log4j.properties
              subPath: log4j.properties
            {{- if .Values.metrics.enabled }}
            - name: jmx-exporter
              mountPath: /opt/jmx-exporter
            {{- end }}
          {{- if .Values.probes.liveness.enabled }}
          livenessProbe:
            httpGet:
              path: /
              port: 8083
            initialDelaySeconds: 90
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 3
          {{- end }}
          {{- if .Values.probes.readiness.enabled }}
          readinessProbe:
            httpGet:
              path: /connectors
              port: 8083
            initialDelaySeconds: 90
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}

      volumes:
        - name: log4j-config
          configMap:
            name: debezium-connect-log4j
        {{- if .Values.metrics.enabled }}
        - name: jmx-exporter
          emptyDir: {}
        - name: jmx-config
          configMap:
            name: debezium-connect-jmx
        {{- end }}
