registerJob:
  enabled: true
  image:
    registry: ghcr.io/flamingo-stack/registry
    tag: "8.9.1"


redis:
  global:
    security:
      allowInsecureImages: true  # bitnamilegacy

  image:
    registry: ghcr.io/flamingo-stack/registry
    repository: bitnamilegacy/redis
    tag: 8.2.1-debian-12-r0

  auth:
    enabled: false


  commonConfiguration: |-
    maxmemory 200mb
    maxmemory-policy allkeys-lru


  master:
    revisionHistoryLimit: 2
    resources:
      requests:
        memory: 128Mi
        cpu: 100m
      limits:
        memory: 256Mi
        cpu: 250m


  replica:
    replicaCount: 1
    revisionHistoryLimit: 2
    resources:
      requests:
        memory: 128Mi
        cpu: 100m
      limits:
        memory: 256Mi
        cpu: 250m


  metrics:
    enabled: true
    image:
      registry: ghcr.io/flamingo-stack/registry
      repository: bitnamilegacy/redis-exporter
      tag: 1.76.0-debian-12-r0
    podAnnotations:
      loki.grafana.com/scrape: "true"
      prometheus.io/scrape: "true"
      prometheus.io/port: "9121"
      prometheus.io/path: "/metrics"
