registerJob:
  enabled: true
servicemonitor:
  enabled: true

credentials:
  admin_user: "admin"            
  admin_pass: "admin_password"
  device_user: "machine"
  service_user: "service"
  service_pass: "service_pass"

